body {
    background-color: #FFDE59; /* Ярко-желтый */
    font-family: 'Lexend Mega', sans-serif;
    color: #000;
    padding: 40px;
    margin: 0;
}

.brutal-layout { max-width: 1000px; margin: 0 auto; }

.brutal-header {
    background: #fff;
    padding: 20px;
    border: 4px solid #000;
    box-shadow: 10px 10px 0px #000;
    margin-bottom: 40px;
}

h1 { margin: 0; font-size: 2.5rem; font-weight: 800; }
h1 span { color: #FF66C4; }

.entry-form {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}

input {
    background: #fff;
    border: 3px solid #000;
    padding: 15px;
    font-family: inherit;
    font-weight: 800;
    flex: 1;
}

button {
    background: #FF66C4;
    border: 3px solid #000;
    padding: 15px 30px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 5px 5px 0px #000;
}

button:hover { transform: translate(-2px, -2px); box-shadow: 7px 7px 0px #000; }

.vinyl-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.vinyl-card {
    background: #fff;
    border: 4px solid #000;
    padding: 20px;
    box-shadow: 8px 8px 0px #000;
    transition: 0.1s;
}

.vinyl-card:hover { transform: scale(1.02); }

.vinyl-card h3 { font-size: 1.1rem; margin: 0 0 20px; border-bottom: 2px solid #000; padding-bottom: 10px; }

.price-tag {
    font-size: 1.4rem;
    font-weight: 800;
    display: block;
    margin-bottom: 10px;
}
